<ol class="post-list">
    {{!-- any HTML between #each repeated for every item in posts --}}
    {{#each posts as |post|}}
  <li>
{{> post-info post}}
  </li>
  {{/each}}
</ol>


{{!-- 2 curlies convert HTML into strings (< becomes &lt;) --}}
{{!-- 3 curlies renders data as HTML --}}